#edit-sender .form-item-commerce-andreani-sender-mobile-area-code,
#edit-sender .form-item-commerce-andreani-sender-mobile-number {
  float: left;
}

#edit-sender .form-item-commerce-andreani-sender-mobile-number {
  padding-left: 20px;
}
