.andreani-store-selection {
  text-align: right;
}

.andreani-store-selection label {
  font-weight: normal;
  display: inline;
}

.andreani-details-form input {
  width: auto;
}

.form-item-commerce-shipping-service-details-andreani-mobile-area-code,
.form-item-commerce-shipping-service-details-andreani-mobile-number {
  float: left;
}

.form-item-commerce-shipping-service-details-andreani-mobile-number {
  padding-left: 20px;
}
